* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DCDCDC;
}

.header {
  margin-bottom: 20px;
  &__list {
    background-color: #FFA07A;
    display: flex;
    padding: 4px 5px;
    &-item {
      font-weight: 700;
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
        transition: opacity 0.5s;
      }
    }
  }
}

.body {
  display: flex;
  margin-bottom: 15px;
  &__left {
    width: 620px;
    margin-right: 40px;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      margin-bottom: 10px;
    }
    &-title {
      font-weight: 700;
    }
    &-time {
      font-weight: 700;
      background-color: #fff;
      padding: 5px 0px 5px 20px;

      span {
        padding: 5px 20px 5px 20px;
        margin-left: 8px;
        background-color: #00FFFF;
      }
    }
    &-main {
      width: 100%;
      height: 550px;
      background-color: #C0C0C0;
    }
  }
  &__right {
    width: 620px;
    height: 597px;
    padding: 5px 10px;
    background-color: #C0C0C0;
    &-title {
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}

.footer {
  width: 875px;
  background-color: #D3D3D3;
  display: flex;
  padding: 5px 10px;
  &__button {
    cursor: pointer;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    background-color: #98FB98;
    font-weight: 700;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.5s;
    }
  }
}